.navContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 15px;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  justify-items: center;
}
.navContainer:not(:first-child) {
  cursor: pointer;
}
.navLinkContainer {
  margin-top: 4px;
}
.navLink {
  max-width: 200px;
  letter-spacing: 0.02857em;
  padding: 6px 10px;
}
.navLink:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.navLink:active {
  box-shadow: inset -1px 2px 5px rgba(131, 116, 108, 0.15),
    inset 0px 2px 10px rgba(131, 116, 108, 0.08);
}
.logo {
  max-width: 100%;
}
.login {
  cursor: pointer;
}
