.button {
  position: relative;
  overflow: hidden;
  color: #fff;
  --lightness: 62%;
  --hue: 190;
  --saturation: 89%:
  outline: transparent;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  border: 0;
  cursor: pointer;
  padding: 6px 16px;
  box-sizing: border-box;
  margin-top: 0;
  min-width: 64px;
  display: flex;
  justify-content: space-around;
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
}
.button:hover {
  --lightness: 34%;
}
.darkBlue {
  --hue: 231;
  --saturation: 48%;
  --lightness: 48%;
}
.green {
  --hue: var(--highlighted-green-hue);
  --saturation: var(--highlighted-green-saturation);
  --lightness: var(--highlighted-green-lightness);
}
.blue {
  --hue: 221;
  --saturation: 44%;
  --lightness: 42%;
}
.lightBlue {
  --hue: 217;
  --saturation: 89%;
  --lightness: 61%;
}
.button:active {
  box-shadow: 0 0 0 #111;
  --lightness: 22%;
}
.eighty {
  width: 80%;
}
