.container {
  display: grid;
  grid-template-rows: repeat(9, minmax(0, 0.9fr));
  padding: 14px 34px;
  background-color: #d3d3d3;
  z-index: 100;
  position: relative;
  place-items: center;
  height: 100%;
  border-radius: 1%;
  --highlighted-green: #3fcb5e;
}
.title {
  padding: 0;
}
.flex {
  display: flex;
}
.cursorPointer {
  cursor: pointer;
}
.highlightedGreen {
  color: var(--highlighted-green);
}
.fullWidth {
  width: 100%;
}
.line {
  height: 1px;
  width: 40%;
  border-width: 0;
  background-color: black;
}
.font14 {
  font-size: 14px;
}
.noWrap {
  white-space: nowrap;
}
.spaceBetween {
  justify-content: space-between;
}
.alignCenter {
  align-items: center;
}
